# --- Pixi Environments ---
# Ignore the environments but keep the project configuration
.pixi/*
!.pixi/config.toml
**/*.pyc
# --- Python ---
**/__pycache__/
*.py[cod]
*$py.class
*.pyd
.venv/
venv/
ENV/

# --- Local Data & Secrets ---
.env
.env.*
temp_data/
output_dev/

# --- System Files ---
.DS_Store
Thumbs.db
